<table class="table">
  <thead>
    <tr>
      <th><img src="/assets/badges/red.png" alt=""></th>
      <th><img src="/assets/badges/orange.png" alt=""></th>
      <th><img src="/assets/badges/purple.png" alt=""></th>
      <th><img src="/assets/badges/orange_red.png" alt=""></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><div class='text-center'>Low CO2</div></th>
      <th>Speed</th>
      <th>Best Driver</th>
      <th>Most Mileage</th>
    </tr>
  </tbody>
</table>