<% @page_title = "Karte" %>
<div class="smallmap" id="map">
  <div class="sensorswitch">
	  <div class="btn-group dropup">
	    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
	      Sensor
	      <span class="caret"></span>
	    </a>
	    <ul class="dropdown-menu">
	        <li>
	          <a id="change-sensor-avg-consumption" href="#">Durchschnittlicher Verbrauch</a>
	        </li>
	        <li>
	          <a id="change-sensor-avg-rpm" href="#">Durchschnittliche Umdrehungen</a>
	        </li>
	        <li>
	          <a id="change-sensor-avg-speed" href="#">Durchschnittliche Geschwindigkeit</a>
	        </li>
	        <li>
	          <a id="change-sensor-max-speed" href="#">Max Geschwindigkeit</a>
	        </li>
	        <li>
	          <a id="change-sensor-avg-standing-time" href="#">Durchschnittliche Standzeit</a>
	        </li>
	        <li>
	          <a id="change-sensor-avg-co2" href="#">Durchschnittliche CO2 Emissionen</a>
	        </li>
	    </ul>
  	</div>
  	<div class="well legend">
	  		<h4>Legende</h4>
	  		<p id="legend_description">Durchschnittliche Geschwindigkeit</p>
	  		<img id="legend_image" src="http://giv-dueren.uni-muenster.de:8080/geoserver/OBDComm/wms?REQUEST=GetLegendGraphic&VERSION=1.0.0&FORMAT=image/png&WIDTH=20&HEIGHT=20&LAYER=OBDComm:osm_roads&style=avg_speed&FORMAT=image/png&transparent=true&LEGEND_OPTIONS=forceRule:True;dx:0.2;dy:0.2;mx:0.2;my:0.2;fontStyle:borderColor:0000ff;border:true;fontColor:000000;fontSize:14" ></img>
	  </div>
  </div>
</div>