<div class="smallmap" id="map">
  <div class="btn-group sensorswitch dropup">
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
      Change sensor
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li>
          <a id="change-sensor-consumption" href="#">Consumption</a>
        </li>
        <li>
          <a id="change-sensor-rpm" href="#">Rpm</a>
        </li>
        <li>
          <a id="change-sensor-speed" href="#">Speed</a>
        </li>
    </ul>
  </div>
</div>
