<% @page_title = "Hilfe" %>
<h4 class="muted">Worum geht es bei der Case Study?</h4>
<p>Vielen Dank erst einmal für deine Mithilfe als Tester! Diese Studie wird im Rahmen einer Master Arbeit am Institut für Geoinformatik der WWU Münster durchgeführt. Im Rahmen eines Studienprojekts wurde diesen Sommer von ca. 20 Studenten eine Android App und ein Web Portal entwickelt, mit dem es möglich ist Sensor Daten aus Autos aufzuzeichnen. Diese Webseite und die App die du als Tester bekommst basiert auf den Ergebnissen von diesem Seminar.</p>
<p>Die Infrastruktur (App, Webportal, Server) funktionieren also schon und werden in einem anderen Kontext auf ihre Funktion und Fehler hin getestet. Die Studie an der du teil nimmst soll also kein Beta-Test sein in dem es darum geht Fehler in der Software zu finden, sondern darum das End-Produkt unter normalen Umständen zu testen. Das heißt es soll einfach von Menschen, die nicht an der Entwicklung mitgewirkt haben, im normalen Leben eingesetzt werden.</p>

<h4 class="muted">Wie läuft die Case Study ab?</h4>
<p>Es gibt ca. 10 Tester, die sich alle auf dieser Webseite registrieren. Jeder Tester ist in einer anderen Gruppe. Pro Gruppe werden unterschiedliche Funktionen der Webseite freigeschaltet, damit diese isoliert von einander getestet werden können. Wöchentlich werden diese Gruppen rotiert.</p>
<p>Das heißt für dich: Jede Woche bekommst du hier neue Funktionen freigeschaltet, die du ausprobieren kannst.</p>
<p>Jeder Tester erhält einen OBD Stecker, der im Auto angebracht werden kann sowie eine Android App mit der Autofahrten aufgenommen werden können. Ab dem <b>8. August</b> werden die ersten Funktionen dann freigeschaltet und alle Tester können loslegen.</p>
<p><b>Wichtig:</b>
	<ul>
		<li>Alles ist und bleibt anonym! Alle Daten werden nach der Studie gelöscht.</li>
		<li>Benutzt das App und das Web-Portal so oft und viel ihr wollt!</li>
		<li>Zögert nicht uns zu kontaktieren wenn ihr Fragen habt.</li>
	</ul>
</p>

<h4 class="muted">An wen wende ich mich wenn ich Fragen habe?</h4>
<p>Schreibe einfach eine kurze Mail an obd-studie@gmx.de. Die Mail wird so schnell wie möglich beantwortet.</p>

<h4 class="muted">Hilfe das App stürzt dauernd ab!</h4>
<p>Das Problem ist leider bekannt, konnte aber nicht im Vorfeld behoben werden. Falls das App abstürzt einfach neu starten und nochmal probieren. Falls gar nichts mehr geht muss leider manchmal der Bluetooth Adapter aus dem Auto ausgesteckt und wieder eingesteckt werden und das Handy neu mit dem Adapter gekoppelt (verbunden) werden, um das Problem zu lösen.</p>

<h4 class="muted">Ich habe einen Fehler gefunden</h4>
<p>Da diese Studie kein Beta Test ist, sind kleinere Fehler nicht so wichtig. Ihr könnt sie uns dennoch mitteilen wenn ihr möchtet (Mail an obd-studie@gmx.de). Falls du allerdings einen Fehler gefunden hast, der dich daran hindert die App oder das Web-Portal weiterhin sinnvoll zu nutzen, schicke uns bitte umgehend eine Mail damit das Problem behoben werden kann!</p>
