<header class="jumbotron subhead" id="overview">
  <div id="map" class="smallmap"></div> 
</header>


<div class="container marketing">
  <div class="apply-wrapper text-center" id="apply-wrapper">
    <div class="apply-box">
        <h3>Do you want to be the first to try OBDComm?</h3>
            <div>
              <h4>Connect your Facebook-account to be among the first to know about and use OBDComm.</h4>
              <a href="/auth/facebook?country=en" class="button-facebook" data-ie="before" id="sign_in">Connect with Facebook</a>
            </div><!-- end of apply facebook -->      
    </div><!-- end of footer headline -->
  </div>




  <ul class="nav nav-tabs center" id="nav-tabs">
    <li class="active">
      <a href="#nav-tabs">What do you need?</a>
    </li>
    <li><a href="#featurettes">What can we give?</a></li>
</ul>
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="span4">
      <img src="http://static2.bigstockphoto.com/thumbs/2/4/1/large2/14255339.jpg" height="100" width="95">
      <h2>OBD2 Standard</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div><!-- /.span4 -->
    <div class="span4">
      <img src="http://www.dhresource.com/albu_233522580_00/1.thumb.jpg">
      <h2>Cheap Hardware!</h2>
      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div><!-- /.span4 -->
    <div class="span4">
      <img src="http://www.vectorstock.com/i/composite/66,00/smartphone-map-vector-1156600.jpg" width="95px" height="100px">
      <h2>Use your Droid</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div><!-- /.span4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="featurette" id="featurettes">
    <h2 class="featurette-heading">Trip Listing <span class="muted">It'll blow your mind.</span></h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image pull-left" src="../assets/img/examples/browser-icon-firefox.png">
    <h2 class="featurette-heading">Oh yeah, it's that good. <span class="muted">See for yourself.</span></h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image pull-right" src="../assets/img/examples/browser-icon-safari.png">
    <h2 class="featurette-heading">And lastly, this one. <span class="muted">Checkmate.</span></h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->


  <!-- FOOTER -->
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2013 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>

</div><!-- /.container -->
