<header class="jumbotron subhead" id="overview">
  <div id="map" class="smallmap"></div> 
</header>


<div class="container marketing">
  <div class="apply-wrapper text-center" id="apply-wrapper">
    <div class="apply-box">
        <h3>Hinweis:</h3>
            <div>
              <b>Diese Seite wird nur für eine Case-Study im Rahmen einer Masterarbeit am Institut für Geoinformatik an der WWU Münster genutzt. Falls Sie durch eine Zeitungsanzeige auf uns aufmerksam gworden sind folgen Sie bitte diesem <a href="http://giv-dueren.uni-muenster.de/anzeige.html" >Link</a>.<br> Für zusätzliche Informationen kontaktieren Sie uns bitte:</b><br>
              <a href="mailto:obd-studie@gmx.de" class="btn btn-primary" data-ie="before" id="sign_in">Kontakt</a>
            </div><!-- end of apply facebook -->      
    </div><!-- end of footer headline -->
  </div>




  <ul class="nav nav-tabs center" id="nav-tabs">
    <li>
      <a href="#nav-tabs">Was wird benötigt?</a>
    </li >
    <li><a href="#featurettes">Was bekomme ich?</a></li>
</ul>
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="span4">
      <img src="assets/gauge.png">
      <h2>OBD2 Standard</h2>
      <p>In allen in Deutschland verfügbaren Autos seit 2004 ist ein OBD2 Anschluss verpflichtend. Mithilfe eines kleinen Bluetooth-Adapters ist es in allen diesen Autos möglich Werte wie z.B. den Verbrauch auszulesen.</p>
    </div><!-- /.span4 -->
    <div class="span4">
      <img src="assets/elm.jpg">
      <h2>Billige Hardware</h2>
      <p>Zur Nutzung des OBD2 Anschlusses ist lediglich ein sehr kostengünstiger Bluetooth Adapter nötig. Die meisten Adapter kosten zwischen 12 und 150 Euro.</p>
    </div><!-- /.span4 -->
    <div class="span4">
      <img src="assets/android.png"h>
      <h2>Android</h2>
      <p>Zur Übertragung der Daten vom Auto zu diesem Web Portal wird eine einfach zu bedienende Android App benötigt. Diese empfängt die Daten des Bluetooth Adapters und leitet diese an unseren Server weiter.</p>
    </div><!-- /.span4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="featurette" id="featurettes">
    <div class="row" >
      <div class="span6">
        <img src="../assets/responsive.jpg" width="100%">
      </div>
      <div class="span6">
        <h2 class="featurette-heading">Fahrten Aufzeichnen <span class="muted"></span></h2>
        <p class="lead">Mithilfe der App und dieser Webseite ist es einfach Autofahrten aufzuzeichnen und hier abzuspeichern. Ihr seht dabei genaue Werte eurer Fahrt und des Autos. So kann z.B. der Benzinverbrauch und die dadurch entstandenen Kosten angezigt werden. Die Fahrt kann in einer interaktiven Karte betrachtet werden, es können aber auch Graphen und Fakten dargestellt werden.</p>
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <div class="row" >
      <div class="span6">
        <h2 class="featurette-heading">Badges <span class="muted">Auszeichnungen und Punkte</span></h2>
        <p class="lead">Zum vorbildlichen Fahren motivieren sogenannte Badges, die pro Fahrt verliehen werden können. Fährt man z.B. besonders Spritsparend bekommt man eine Auszeichnung, und dem Fahrer werden Punkte gutgeschrieben. So kann man sich selbst mit anderen Fahrern vergleichen. </p>
      </div>
      <div class="span6">
        <img src="../assets/gamification.png" width="100%">
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <div class="row" >
      <div class="span6">
        <img src="../assets/comm.png" width="100%">
      </div>
      <div class="span6">
        <h2 class="featurette-heading">Community <span class="muted"></span></h2>
        <p class="lead">Die Daten, die beim Fahren produziert werden sind natürlich wichtig. Nicht nur für euch sondern auch für unsere Umwelt. So kann aus dem gesammelten Werten aller Fahrer eine CO2 Karte erstellt werden, oder wir können herausfinden auf welchen Strecken am meisten Benzin verbraucht wird. Dazu gibt es verschiedene interaktive Karten mit den gesammelten Daten aber auch mit den Persönlich Daten.</p>
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->


  <!-- FOOTER -->
  <footer>
    <p class="pull-right"><a href="#">Back to top</a></p>
    <p>&copy; 2013 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>

</div><!-- /.container -->
