- if current_page?(trip_show_path)
  - css_class = 'active'
- else
  - css_class = 'inactive'
  
%li{:class => css_class}= link_to :my_trips.l, trip_show_path

- if current_page?(show_abstract_path)
  - css_class = 'active'
- else
  - css_class = 'inactive'
  
%li{:class => css_class}= link_to :trips.l, trip_abstract_path