
<div class="container">
  <div class="content">
    <div class="row">
      <div class="span6">
        <div id="map" class="smallmap"></div>
      </div>
      <div class="span6">
        <%= line_chart (@speed_data) %>
      </div>
    </div>
    <footer>
    </footer>
  </div>
</div> <!--! end of .container -->
