<h1>My recent Trips</h1>
<% if @trips.blank? %>
<p>No trips to display</p>

<% else %>
<table id="trips" class="table">
  <thead>
    <tr>
      <th>Trip ID</th>
      <th>Screenshot</th>
      <th>Actions</th>
    </tr>
  </thead>
  <% @trips.each do |c| %>
  <tbody>
    <tr>
      <td><%= c.id%></td>
      <td><%= link_to image_tag("/assets/trips/#{c.id}.png"), "/trip/show/#{c.id}" %></td>
      <td>/</td>
    </tr>
  </tbody>
  <% end %>
</table>
<% end %>
