<div class="container">
  <div class="content">
    <div class="row">
      <div class="span6">
        <div id="map"></div>
      </div>
      <div class="span6">
        <div id="chart_container">
          <div id="y_axis"></div>
	        <div id="chart"></div>
	        <div id="legend"></div>
        </div>
      </div>
    </div>
    <footer>
    </footer>
  </div>
</div> <!--! end of .container -->
