<h1>My recent Trips</h1>
<% if @trips.blank? %>
<p>No trips to display</p>

<% else %>
<ul id="trips">
  <% @trips.each do |c| %>
  <li>
    <%= "Trip ID: #{c.id}" %>
    <%= image_tag "/assets/trips/#{c.id}.png"%>
  </li>
  <% end %>
</ul>
<% end %>
