<div class="container">
  <div class="content">
    <div class="row">
      <div class="span6">
        <div id="map"></div>
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style">
          <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
          <a class="addthis_button_tweet"></a>
          <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
        </div>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=undefined"></script>
        <!-- AddThis Button END -->
      </div>
      <div class="span6">
        <div id="chartContainer" style="height: 100%; width: 100%;"></div>
      </div>
    </div>
    <!--<div class="row">
      <div id="chart_container">
        <div id="y_axis"></div>
        <div id="chart"></div>
      </div>
    </div> -->
    <footer>
    </footer>
  </div>
</div> <!--! end of .container -->

<hr class="featurette-divider">

<div class="row">
  <div class="span6">
    <h2 class="featurette-heading">Trip Listing <span class="muted">It'll blow your mind.</span></h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div><!-- /.span6 -->
  <div class="span6">
    <h2 class="featurette-heading">Trip Listing <span class="muted">It'll blow your mind.</span></h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div><!-- /.span6 -->
</div><!-- /.row -->

<hr class="featurette-divider">

