<div class="container">
  <div class="content">
    <div class="row">
      <div class="span6">
        <div id="map"></div>
      </div>
      <div class="span6">
        <div id="chart_container">
          <div id="y_axis"></div>
	        <div id="chart"></div>
	        <div id="legend"></div>
        </div>
      </div>
    </div>
    <footer>
    </footer>
  </div>
</div> <!--! end of .container -->

<hr class="featurette-divider">

<div class="row">
    <div class="span6">
      <h2 class="featurette-heading">Trip Listing <span class="muted">It'll blow your mind.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div><!-- /.span6 -->
    <div class="span6">
      <h2 class="featurette-heading">Trip Listing <span class="muted">It'll blow your mind.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div><!-- /.span6 -->
  </div><!-- /.row -->

<hr class="featurette-divider">

