<h1>My recent Trips</h1>
<% if @trips.blank? %>
<p>No trips to display</p>

<% else %>

<%= paginate @trips %>
<!--Loop through all the trips and printem-->
<table width=100% cellpadding=0 cellspacing=0 border=0>
  <% for @trip in @trips do%>
  <tbody>
    <tr>
      <td><%= @trip.id%></td>
      <td><%= link_to image_tag("/assets/trips/#{@trip.id}.png"), "/trip/#{@trip.id}" %></td>
    </tr>
  </tbody>
  <%end%>
</table>
<%end%>