/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require 'css3-progress-bar'
 *
 */
img { max-width:none; }

.navbar-inner {
  background-image:url('http://www.mrgeek.me/tutorials/demos/Bootstrap_Series_P3/img/low_contrast_linen.png');
  text-align: center;
  color:lightgrey;
  border-bottom:3px solid tomato;
}

.brand {
	font-family: 'PT Sans', sans-serif;
	color:white;
	font-size:40px;
}

.am_brand {
  color:tomato;
}