/**
 * Map Specific
 */
.smallmap {
    min-height: 90%;
    height: 90% !important;
}

html, body{
  padding: 0px;
  background-color: #fff;
  height: 100%;
}


.center { 
  float: none; 
  margin-left: auto; 
  margin-right: auto; 
}