/**
 * Map Specific
 */
.smallmap {
    min-height: 90%;
    height: 93% !important;
}

html, body{
  padding: 0px;
  background-color: #fff;
  height: 100%;
}


.center { 
  float: none; 
  margin-left: auto; 
  margin-right: auto; 
}

.sensorswitch{
  position:absolute; 
  left:10px; 
  bottom:2%; 
  z-index:10000;  
}