.trip_info {
	border-right: 1px solid #eeeeee;
}

.table th, .table td { 
     border-top: none; 
 }

li {
    list-style-type: none;
}

.well {
	padding: 10px;
	margin-left: 0px;
}

.row {
	margin-left: 0px;
}

.listing {
	margin-left: 0px;
}